# aliases

alias bashconfig="nvim ~/.bashrc"
alias zshconfig="nvim ~/.zshrc"
alias ohmyzsh="nvim ~/.oh-my-zsh"
alias v="nvim"
alias ls="lsd"
alias cat="bat"
alias grep='grep --color=auto'
alias dl-song='yt-dlp -P "~/Music" -x --audio-format mp3 --audio-quality 0 -o "%(uploader)s_%(playlist)s/%(title)s.%(ext)s" --embed-metadata --parse-metadata "%(title)s:%(meta_title)s" --parse-metadata "%(uploader)s:%(meta_artist)s" --parse-metadata "%(playlist)s:%(meta_album)s" --parse-metadata "%(playlist_index)s:%(meta_track)s" -i'


alias val='valgrind --tool=memcheck --leak-check=full --show-reachable=yes --error-exitcode=1'

alias mv='mv -iv'
## undo mv:
function unmv { mv -iv "$2" "$1" }
