;   _______  __  .___________.
;  /  _____||  | |           |
; |  |  __  |  | `---|  |----`
; |  | |_ | |  |     |  |
; |  |__| | |  |     |  |
;  \______| |__|     |__|

[user]
	name = Ragib Asif
    email = 182296466+ragibasif@users.noreply.github.com
	username = ragibasif
[init]
	defaultBranch = master
[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = less -F -X
    autocrlf = input  # keep newlines as in input
    excludesfile = ~/.gitignore_global
    fsync = none
[web]
	browser = google-chrome

[status]
    branch = true
    short = true
    showStash = true
    showUntrackedFiles = all  # show individual untracked files

[color]
	ui = true
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
    upstream = green
    plain    = blue

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[difftool]
	prompt = false
[gitflow "prefix"]
	versiontag = v
[sequence]
	editor = interactive-rebase-tool
[commit]
	template = ~/.gitmessage

[diff]
    tool = nvimdiff
    context = 3  # less context in diffs
    renames = copies  # detect copies as renames in diffs
    interHunkContext = 10  # merge near hunks in diffs

[merge]
    tool = nvimdiff
    conflictstyle = diff3

[color]
    ui = true

[push]
    autoSetupRemote = true  # easier to push new branches
    default = current  # push only current branch by default
    followTags = true  # push also tags

[fetch]
    prune = true

[rebase]
    autosquash = true

[pull]
    rebase = true

[blame]
    coloring = highlightRecent
    date = relative

[log]
    abbrevCommit = true  # short commits
    graphColors = blue,yellow,cyan,magenta,green,red

[pager]
    branch = false  # no need to use pager for git branch
    diff = $PAGER

[submodule]
    fetchJobs = 16

[rebase]
    autoStash = true

# Colors
[color "blame"]
    highlightRecent = black bold,1 year ago,white,1 month ago,default,7 days ago,blue

# URL shortcuts
[url "git@github.com:"]
    insteadOf = "gh:"

