;   _______  __  .___________.
;  /  _____||  | |           |
; |  |  __  |  | `---|  |----`
; |  | |_ | |  |     |  |
; |  |__| | |  |     |  |
;  \______| |__|     |__|

[user]
	name = Ragib Asif
    email = 182296466+ragibasif@users.noreply.github.com
	username = ragibasif

[init]
	defaultBranch = master

[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    autocrlf = input  # keep newlines as in input
    excludesfile = ~/.gitignore_global

[status]
    branch = true
    short = true
    showStash = true
    showUntrackedFiles = all  # show individual untracked files

[color]
	ui = true

[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
    upstream = green
    plain    = blue

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[commit]
	template = ~/.gitmessage

[color]
    ui = true

[push]
    autoSetupRemote = true  # easier to push new branches
    default = current  # push only current branch by default
    followTags = true  # push also tags

[fetch]
    prune = true

